*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navColor{
    background: linear-gradient(159.37deg, #184BBB 30%, rgb(0, 206, 199) 95%);
    height: 10vh;
}

footer{
background:#184BBB  ;



}















.registro{
    height: 40vmax;
    width: 50vmin;
}

.img-registro{
    height: 40vmax;
    width: 50vmin;
    text-align: center;
}

@media (max-width: 425px) {
    .img-registro {
      display: none;
    }

   .registro{
    height: 60vmax;
   }
 }
